<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod'>
        <div>
          {% for paper in site.publications %}
            <div class='box' style='background: #f9f9f9;'>
              <h4>{{paper.title}}</h4>
	      {%-include extractinfo_publication.html entry=include.entry-%}
              <p>{%-for person in authors-%}
		{%-include listperson.html seperator=', '-%}
		{%-endfor-%}{% if journal %} <i>{{ journal }}</i>, {%elsif container-title %} <i>{{ container-title }}</i>,{% endif %}{%if publisher %} {{ publisher }}{% endif %}{% if volume %} {{ volume }}{% endif %}{% if number %} ({{number}}){%endif%}:{% if firstpage %}{{ firstpage }}{% endif %}{% if lastpage %}-{{ lastpage }}{% endif %}{% if year %}, {{ year }}{% endif %}</p>
              <p>{{paper.description}}</p>
              <a class='button small' href='{{paper.url}}'>Read more</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
