---
layout: default
---

<style>
  .modTeamMember{min-height:500px; margin-bottom:25px;}

  [class*="column"] + [class*="column"]:last-child {
    float: left;
}
</style>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Learn more</h4>
      <h2>{{ site.data.homepage.about.title }}</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-8 columns'>
      {{ site.data.homepage.about.content | markdownify }}
    </div>
    <div class='medium-4 columns'>
      <img class="fadeinright" width="500" height="336" alt="" src="{{site.data.images.directory | relative_url}}/{{ site.data.homepage.about.image }}" />
    </div>
  </div>
 
</div>

{% include our-team.html %}
{% include advisory-group.html %}

      
